<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsh.erp.datasource.mappers.MaterialLinkMapper">
    <resultMap id="BaseResultMap" type="com.jsh.erp.datasource.entities.MaterialLink">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="link" jdbcType="VARCHAR" property="link"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="material_id" jdbcType="BIGINT" property="materialId"/>
    </resultMap>

    <select id="queryByMaterialId" resultMap="BaseResultMap">
        select *
        from jsh_material_link
        where material_id = #{materialId}
    </select>

    <delete id="deleteByMaterialId">
        delete
        *   from jsh_material_link
         where material_id=
        #{materialId}
    </delete>

    <insert id="batchInsert" parameterType="com.jsh.erp.datasource.entities.MaterialLink">
        insert into jsh_material_link
        (id,link,create_time,material_id)
        values
        <foreach collection="models" separator="," item="item">
            (#{item.id},#{item.link},#{item.createTime},#{item.materialId})
        </foreach>

    </insert>

</mapper>